<% provide(:title, 'Contact Us') %>


<div class="row">
  <div class="large-9 large-centered columns">
    <div class="panel text-center">
      <h1>Contact Us</h1>
      <p>Contact Page</p>
    </div>
  </div>
</div>
