<% provide(:title, 'Help') %>

<div class="row">
  <div class="large-9 large-centered columns">
    <div class="panel text-center">
      <h1>Help</h1>
      <p>Help page</p>
    </div>
  </div>
</div>

