<div class="center hero-unit">
  <h1>Creative Soul</h1>

  <h2>
    This is the testing home page for the Creative Soul application
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

