<% provide(:title, 'All users') %>

<div class="row">
  <div class="large-12 columns">
    <h1 class="text-center">All users</h1>


    <table class="users">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>User Type</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <%= render @users %>
      </tbody>
    </table>

    <%= will_paginate @users, renderer: FoundationPagination::Rails %>

  </div>
</div>
