@import url('http://fonts.googleapis.com/css?family=Pathway+Gothic+One');
@import url('http://fonts.googleapis.com/css?family=Port+Lligat+Sans');
@import url('http://fonts.googleapis.com/css?family=Pacifico');

$grayMediumLight: #eaeaea;
$grayLight: #000000;
$gray: #000110;
$grayDarker: #990099;
$grayLighter: #990099;

$primary-1: #537AAD;
$primary-2: #4F6582;
$primary-3: #1B4070;
$primary-4: #83A7D6;
$primary-5: #99B4D6;

$secondary-a-1: #675CB6;
$secondary-a-2: #5C5688;
$secondary-a-3: #291E76;
$secondary-a-4: #948ADA;
$secondary-a-5: #A69FDA;

$secondary-b-1: #FFE06E;
$secondary-b-2: #BFAE6E;
$secondary-b-3: #A68A24;
$secondary-b-4: #FFE892;
$secondary-b-5: #FFEEAF;

$complement-1: #FFC86E;
$complement-2: #BFA06E;
$complement-3: #A67424;
$complement-4: #FFD692;
$complement-5: #FFE1AF;

$link-color:$complement-4;

$topbar-font:  'Port Lligat Sans';
$heading-font: 'Pacifico';


