<footer>
  <div class="row">
    <div class="large-3 columns">
      <p class="copyright">Copyright Info</p>
    </div>
    <div class="large-9 columns">
      <ul class="inline-list">
        <li><%= link_to "About",   about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><a href="http://www.creativesoulmusic.com/">News</a></li>
      </ul>
    </div>
  </div>
</footer>